
  .grid-item { 
    background-color: #ffffff;
    border: 1px solid #251C45;
    padding: 8px;
    font-size: 20px;             
	font: bold;
    text-align: center;
    border-radius: 5px;
  }

  .grid-container-6 {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    padding: 8px;
    text-align: center;
    width: 60%;
    margin:auto
}

  .header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #251C45;
  }

  .dropmenu{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font: "sans-serif";
    font-size:18px;
    }
    
    .dropmenu ul{
    background: #666;
    height:60px;
    list-style:none;
    margin:0;
    padding:0;
    }
    
    .dropmenu li{
    float:left;
    padding:0px;
    }
    
    .dropmenu li a{
    background: #666;
    color:#fff;
    display:block;
    line-height:60px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
    }
    
    .dropmenu li a:hover, .dropmenu ul li:hover a{
    background: rgb(31,31,31);
    color:#FFFFFF;
    text-decoration:none;
    }
    
    .dropmenu li ul{
    background: #251C45;
    display:none; 
    height:50px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
    /*top:1em;
    /*left:0;*/
    }
    
    .dropmenu li:hover ul{
    display:block;
    }
    
    .dropmenu li li {
    background:#666;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200px;
    }
    
    .dropmenu li:hover li a{
    background:none;
    }
    
    .dropmenu li ul a{
    display:block;
    height:60px;
    font-size:14px;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
    }
    
    .dropmenu li ul a:hover, .dropmenu li ul li:hover a{
    background: rgb(31,31,31);
    border:0px;
    color:#ffffff;
    text-decoration:none;
    }
    
    .dropmenu p{
    clear:left;
    }