.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: #ffffff;
	height: 50px;
    padding: 20px;
	text-align: center;
  }
  
  .grid-item { 
    background-color: #ffffff;
    border: 1px solid #251C45;
    padding: 8px;
    font-size: 20px;
	font: bold;
    text-align: center;
    border-radius: 5px;
  }

  .grid-container-6 {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr  1fr 1fr  1fr 1fr ;
    background-color: #ffffff;
    padding: 8px;
	text-align: center;

  }


